main {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;

  align-items: center;
  flex-direction: column;
  margin-top: 85px;
  .logo {
    margin-bottom: 25px;
  }
  .input-container-main {
    .input-container {
      .input {
        display: flex;
        align-items: center;
        padding: 0 15px 0 10px;
        height: 46px;
        width: 584px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 25px;
        input {
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          margin: 0 10px;
          font-size: 17px;
        }
        svg {
          width: 27px;
        }
        svg:nth-child(1) {
          opacity: 0.4;
        }
        img {
          height: 11px;
          margin: 0 15px;
          width: 23.5px;
        }
      }
    }
  }
  .main-center {
    .buttons {
      margin: 27px auto;
      a {
        text-decoration: none;
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial, sans-serif;
        font-size: 14px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
@media (max-width: 586px) {
  .input-container-main {
    width: 100% !important;
    .input-container {
      .input {
        width: 95% !important;
        margin: auto;
      }
    }
  }
}
